<h1>All Photos</h1>

<a href="/photos/new">Add a new photo</a>

<% @photo_list.each do |pic| %>
  <li>
    <img src="<%= pic.source %>">
    <p>
      <%= pic.caption %>
    </p>
    <p>
      <a href="/photos/<%= pic.id%>">Show details</a>
      <a href="/photos/<%= pic.id%>/edit">Update Photo</a>
      <a href="/delete_photo/<%= pic.id%>">Delete Photo</a>
    </p>
  </li>
<% end %>